*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
}
.header{
    height: 700px;
    width: 100%;
    background-image: linear-gradient(to top, rgb(0,0,0,0.75) 0, rgb(0,0,0,0.4) 40%, rgb(0,0,0,0.75) 80%),url(background_img.jpg);
    background-size: cover;
    background-position: center;
}
.nav{
    height: 84px;
    margin: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    width: 191px;
    height: 80px;
}
.nav-opt{
    display: flex;
}
.nav-lng img{
    width: 10px;
    margin-left: 10px;
}
.nav-lng{
    color: white;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 4px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
}
.nav-singin button{
    background-color: #e50914;
    color: white;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 4px;
    margin-left: 12px;
    cursor: pointer;
}
.head-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 40px;
}
.head-content h1{
    font-size: 48px;
    font-weight: 900;
}
.main-head{
    width: 870px;
    height: 62px;
}
.head-content h3{
    font-size: 24px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 23px;
}
.head-content p{
    font-size: 20px;
    margin-bottom: 18px;
    font-weight: 500;
}
.typemail{
    width: 320px;
    height: 20px;
    padding: 17px;
    background-color: rgb(0,0,0,0.6);
    color: rgb(255,255,255);
    border: 1px solid rgb(255,255,255,0.5);
    border-radius: 4px;
    font-size: 15px;

}
.email-singup button{
    padding: 10px 25px 15px 25px;
    margin-left: 8px;
    background-color: #e50914;
    color: white;
    font-weight: 800;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}
.space{
    background-color: rgb(128,128,128,0.5);
    height: 6px;
}
.feature{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 50px 0px;
    flex-wrap: wrap;
}
.text-content{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.text-content p{
    font-weight: 400;
    font-size: 25px;
}
.img-content{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-content img{
    display: block;
    width: 90%;
    margin: auto;
}
.feature h2{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 600;
}
.faq{
    padding: 30px 12%;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.faq h2{
    font-size: 43px;
    font-weight: 600;
}
.accordian{
    margin: 60px auto;
    width: 100%;
    max-width: 1000px;
}
.accordian li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordian li label{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 400;
    padding: 20px;
    background-color: rgb(128,128,128,0.3);
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordian .content{
    background-color: rgb(128,128,128,0.3);
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordian input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordian input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.small{
    font-size: 20px;
    margin-bottom: 18px;
    font-weight: 500;
}
footer{
    padding: 60px 175px;
    color: rgb(255,255,255,0.8);
}
footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
h2 a{
    text-decoration: underline;
}
footer .col{
    flex-basis: 33.33%;
    flex-grow: 1;
    margin-bottom: 10px;
}
footer .col a{
    display: block;
    text-decoration: underline;
    margin-bottom: 20px;
}
footer p{
    margin-top: 20px;
}
.footer-button{
    color: white;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 4px;
}
.footer-button img{
    width: 10px;
    margin-left: 10px;
}
